*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*                                container Header          */
.containerHeader{
    width: 100%;
    height: 100px;
    background-color: #090c5d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerHeader > .subcontainerHeader{
    width: 99%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.subcontainerHeader > .subcontainerHeader1{
    width: 70%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerHeader1 > .containerTittleHeader{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerTittleHeader >.tittleHeader{
    color: khaki;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.subcontainerHeader1 > .buttomHeader{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttomHeader > .btnHeader{
    width: 20%;
    height: 70%;
    background-color: #2d47ff;
    color:#10066f;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(180deg,#2d47ff 0%, #d4e5ff 100%);
}
.buttomHeader > .btnHeader2{
    width: 45%;
    height: 70%;
    background-color: #2d47ff;
    color:#10066f;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(180deg,#2d47ff 0%, #d4e5ff 100%);
}
.subcontainerHeader > .subcontainerHeader2{
    width: 25%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerHeader2 > .containerIconHeader{
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerIconHeader > .iconHeader{
    width: 4.5rem;
    height: 4.5rem;
}

/*                                container Body           */
.containerbody{
    width: 100%;
    height: 3410px;
    background-color: #2d47ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerbody > .subcontainerBody{
    width: 98%;
    height: 3400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
/*                            container  Buttoms Body       */
.subcontainerBody > .subcontainerBody1{
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerBody1 > .containerButtonBody{
    width: 90%;
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.containerButtonBody > .subcontainerButtomBody{
    width: 95%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subcontainerButtomBody > .containerTittleButtom{
    width: 45%;
    height: 1.5rem;
}
.containerTittleButtom > .tittleButtom{
    color: khaki;
    font-size: 1.3rem;
}
.subcontainerButtomBody > .buttom1{
    width: 45%;
    height: 1.5rem;
}
/*                            container  line Body       */
.subcontainerBody > .subcontainerBody2{
    width: 97%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerBody2 > .containerLineBody{
    width: 99%;
    height: 25px;
}
.containerLineBody > hr{
    background: black;
}
/*                            container  cards Body       */

.subcontainerBody > .subcontainerBody3{
    width: 90%;
    height: 3120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerBody3 >.containerCardsBody{
    width: 95%;
    height: 3100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.containerCardsBody > .containerCard{
    width: 95%;
    height: 220px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.containerCard > .containerTittleCard{
    width: 90%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerCard > .containerImgCard{
    width: 90%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerImgCard > .imgCardBody{
    width: 16rem;
    height: 10rem;
}
/*                                container Footer          */