*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*                                container Header          */
.containerHeader{
    width: 100%;
    height: 150px;
    background-color: #090c5d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerHeader > .subcontainerHeader{
    width: 99%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.subcontainerHeader > .subcontainerHeader1{
    width: 70%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerHeader1 > .containerTittleHeader{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerTittleHeader >.tittleHeader{
    color: khaki;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.subcontainerHeader1 > .buttomHeader{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttomHeader > .btnHeader{
    width: 20%;
    height: 70%;
    background-color: #2d47ff;
    color:#10066f;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(180deg,#2d47ff 0%, #d4e5ff 100%);
}
.buttomHeader > .btnHeader2{
    width: 45%;
    height: 70%;
    background-color: #2d47ff;
    color:#10066f;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(180deg,#2d47ff 0%, #d4e5ff 100%);
}
.subcontainerHeader > .subcontainerHeader2{
    width: 25%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerHeader2 > .containerIconHeader{
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerIconHeader > .iconHeader{
    width: 4.5rem;
    height: 4.5rem;
}

/*                                container Body           */
.containerbody{
    width: 100%;
    height: 3410px;
    background-color: #2d47ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerbody > .subcontainerBody{
    width: 98%;
    height: 3400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
/*                            container  Buttoms Body       */
.subcontainerBody > .subcontainerBody1{
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerBody1 > .containerButtonBody{
    width: 90%;
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.containerButtonBody > .subcontainerButtomBody{
    width: 95%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subcontainerButtomBody > .containerTittleButtom{
    width: 45%;
    height: 1.5rem;
}
.containerTittleButtom > .tittleButtom{
    color: khaki;
    font-size: 1.3rem;
}
.subcontainerButtomBody > .buttom1{
    width: 45%;
    height: 1.5rem;
}
/*                            container  line Body       */
.subcontainerBody > .subcontainerBody2{
    width: 97%;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerBody2 > .containerLineBody{
    width: 99%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    width: 98%;
    height: 3px;
    background-color:#c1ff95;
}
/*                            container  cards Body       */

.subcontainerBody > .subcontainerBody3{
    width: 90%;
    height: 3120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerBody3 >.containerCardsBody{
    width: 95%;
    height: 3100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.containerCardsBody > .containerCard{
    width: 95%;
    height: 220px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.containerCard > .containerTittleCard{
    width: 90%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerCard > .containerImgCard{
    width: 90%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerImgCard > .imgCardBody{
    width: 16rem;
    height: 10rem;
}
/*                                container Footer          */
.containerFooter{
    width: 100%;
    height: 70px;
    background-color: #090c5d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerFooter > .subcontainerFooter{
    width: 98%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subcontainerFooter > .containerIcons{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.containerIcons > .subcontainerIconfooter{
    width: 20%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerIconfooter > .imgFooter{
    width: 2.2rem;
    height: 2.3rem;
    border-radius: 60rem;
} 
@media screen and (min-width: 480px) and (max-width: 1040px) { 
    /*                                container Header          */
.containerHeader > .subcontainerHeader{
    width: 99%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.subcontainerHeader > .subcontainerHeader1{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerHeader > .subcontainerHeader2{
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerHeader2 > .containerIconHeader{
    width: 90%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerIconHeader > .iconHeader{
    width: 5.5rem;
    height: 5.5rem;
}

/*                                container Body           */
.containerbody{
    width: 100%;
    height: 3210px;
    background-color: #2d47ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerbody > .subcontainerBody{
    width: 98%;
    height: 3200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
/*                            container  Buttoms Body       */
.subcontainerBody > .subcontainerBody1{
    width: 95%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerBody1 > .containerButtonBody{
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.containerButtonBody > .subcontainerButtomBody{
    width: 45%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subcontainerButtomBody > .containerTittleButtom{
    width: 43%;
    height: 1.5rem;
}
.containerTittleButtom > .tittleButtom{
    color: khaki;
    font-size: 1.3rem;
}
.subcontainerButtomBody > .buttom1{
    width: 45%;
    height: 1.5rem;
}
/*                            container  cards Body       */

.subcontainerBody > .subcontainerBody3{
    width: 90%;
    height: 3000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerBody3 >.containerCardsBody{
    width: 95%;
    height: 3000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.containerCardsBody > .containerCard{
    width: 70%;
    height: 210px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.containerImgCard > .imgCardBody{
    width: 16rem;
    height: 10rem;
}
/*                                container Footer          */
.containerFooter{
    width: 100%;
    height: 100px;
    background-color: #090c5d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerFooter > .subcontainerFooter{
    width: 98%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subcontainerFooter > .containerIcons{
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.containerIcons > .subcontainerIconfooter{
    width: 20%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerIconfooter > .imgFooter{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 60rem;
} 
}
@media screen and (min-width: 820px) and (max-width: 1180px) { 
    /*                                container Header          */
.containerHeader > .subcontainerHeader{
    width: 99%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.subcontainerHeader > .subcontainerHeader1{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerHeader > .subcontainerHeader2{
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerHeader2 > .containerIconHeader{
    width: 90%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerIconHeader > .iconHeader{
    width: 5.5rem;
    height: 5.5rem;
}

/*                                container Body           */
.containerbody{
    width: 100%;
    height: 2170px;
    background-color: #2d47ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerbody > .subcontainerBody{
    width: 98%;
    height: 2150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
/*                            container  Buttoms Body       */
.subcontainerBody > .subcontainerBody1{
    width: 95%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerBody1 > .containerButtonBody{
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.containerButtonBody > .subcontainerButtomBody{
    width: 45%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subcontainerButtomBody > .containerTittleButtom{
    width: 43%;
    height: 1.5rem;
}
.containerTittleButtom > .tittleButtom{
    color: khaki;
    font-size: 1.3rem;
}
.subcontainerButtomBody > .buttom1{
    width: 45%;
    height: 1.5rem;
}
/*                            container  cards Body       */

.subcontainerBody > .subcontainerBody3{
    width: 90%;
    height: 1930px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerBody3 >.containerCardsBody{
    width: 95%;
    height: 1900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.containerCardsBody > .containerCard{
    width: 40%;
    height: 220px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.containerImgCard > .imgCardBody{
    width: 10rem;
    height: 10rem;
}
/*                                container Footer          */
.containerFooter{
    width: 100%;
    height: 100px;
    background-color: #090c5d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerFooter > .subcontainerFooter{
    width: 98%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subcontainerFooter > .containerIcons{
    width: 60%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.containerIcons > .subcontainerIconfooter{
    width: 20%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerIconfooter > .imgFooter{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 60rem;
} 
}
@media screen and (max-width: 1555px) and (min-width: 738px) { 
    /*                                container Header          */
.subcontainerHeader > .subcontainerHeader1{
    width: 35%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerHeader > .subcontainerHeader2{
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
}

/*                                container Body           */
.containerbody{
    width: 100%;
    height: 1130px;
    background-color: #2d47ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerbody > .subcontainerBody{
    width: 98%;
    height: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
/*                            container  Buttoms Body       */
.subcontainerBody > .subcontainerBody1{
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerBody1 > .containerButtonBody{
    width: 99%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.containerButtonBody > .subcontainerButtomBody{
    width: 24%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subcontainerButtomBody > .containerTittleButtom{
    width: 43%;
    height: 1.5rem;
}
.containerTittleButtom > .tittleButtom{
    color: khaki;
    font-size: 1.3rem;
}
.subcontainerButtomBody > .buttom1{
    width: 45%;
    height: 1.5rem;
}
/*                            container  line Body       */
.subcontainerBody > .subcontainerBody2{
    width: 99%;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerBody2 > .containerLineBody{
    width: 99.5%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    width: 100%;
    height: 4px;
    background-color:#c1ff95;
}
/*                            container  cards Body       */

.subcontainerBody > .subcontainerBody3{
    width: 95%;
    height: 920px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerBody3 >.containerCardsBody{
    width: 99%;
    height: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.containerCardsBody > .containerCard{
    width: 23%;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.containerImgCard > .imgCardBody{
    width: 10rem;
    height: 10rem;
}
/*                                container Footer          */
.containerFooter{
    width: 100%;
    height: 100px;
    background-color: #090c5d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerFooter > .subcontainerFooter{
    width: 98%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subcontainerFooter > .containerIcons{
    width: 30%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.containerIcons > .subcontainerIconfooter{
    width: 20%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerIconfooter > .imgFooter{
    width: 3rem;
    height: 3rem;
    border-radius: 60rem;
} 
}
@media screen and (max-width: 1559px) and (min-width: 975px) { 
    /*                                container Header          */
.subcontainerHeader > .subcontainerHeader1{
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerHeader > .subcontainerHeader2{
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.subcontainerHeader2 > .containerIconHeader{
    width: 30%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerIconHeader > .iconHeader{
    width: 6rem;
    height: 6rem;
}

/*                                container Body           */
.containerbody{
    width: 100%;
    height: 1130px;
    background-color: #2d47ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerbody > .subcontainerBody{
    width: 98%;
    height: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
/*                            container  Buttoms Body       */
.subcontainerBody > .subcontainerBody1{
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerBody1 > .containerButtonBody{
    width: 99%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.containerButtonBody > .subcontainerButtomBody{
    width: 24%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subcontainerButtomBody > .containerTittleButtom{
    width: 43%;
    height: 1.5rem;
}
.containerTittleButtom > .tittleButtom{
    color: khaki;
    font-size: 1.3rem;
}
.subcontainerButtomBody > .buttom1{
    width: 45%;
    height: 1.5rem;
}
/*                            container  line Body       */
.subcontainerBody > .subcontainerBody2{
    width: 99%;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerBody2 > .containerLineBody{
    width: 99.5%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    width: 100%;
    height: 4px;
    background-color:#c1ff95;
}
/*                            container  cards Body       */

.subcontainerBody > .subcontainerBody3{
    width: 95%;
    height: 920px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerBody3 >.containerCardsBody{
    width: 99%;
    height: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.containerCardsBody > .containerCard{
    width: 23%;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.containerImgCard > .imgCardBody{
    width: 16rem;
    height: 10rem;
}
/*                                container Footer          */
.containerFooter{
    width: 100%;
    height: 100px;
    background-color: #090c5d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerFooter > .subcontainerFooter{
    width: 98%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subcontainerFooter > .containerIcons{
    width: 30%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.containerIcons > .subcontainerIconfooter{
    width: 20%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerIconfooter > .imgFooter{
    width: 3rem;
    height: 3rem;
    border-radius: 60rem;
} 
}
